

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "monami.settings"
    "PYTHONPATH": "$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "monami/monami/wsgi.py"
    StaticFiles: "/static/=www/static/"
container_commands:
  01_migrate:
   command: "python monami/manage.py migrate"
   leader_only: true
  02_collectstatic:
   command: "python monami/manage.py collectstatic --noinput"
