body {
  background-image: url('https://static1.squarespace.com/static/596cfecaebbd1ab34dadab1d/t/59ab39c0e9bfdfc0c672468b/1504393672307/kien-do-6719.jpg?format=1500w');
  background-size: cover;
}

.banner {
  background-color: lightgreen;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
