<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

body {
  background-image: url('https://images.unsplash.com/photo-1505860125062-3ce932953cf5?auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18pt;
  /* background-position: center; */
}

/* .banner {
  background-color: lightgreen;
} */

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* HEADER AND NAV BAR STYLING */

.navbar li {
  display: inline-block;
  margin: 0 1% 1% 1%;
}

.navbar button {
  background-color: #90C0AF;
  font-size: 1em;
  width: 300px;
  border: none;
  border-radius: 3rem;
}

.headerstyle {
  margin-top: none;
  background-color: #60AA9F;
  margin-top: -50px;
  padding: 10px;
}

.headerstyle a {
  text-decoration: none;
  color: black;
}

.headerstyle h2 {
 font-size: 2em;
}

.headerstyle span {
  font-size: 2em;
  font-family: cursive;
}


/* ASSISTANTS LIST STYLES */

.AssistantItemStyle {
  /* width: 200px;
  height: 250px; */
  display: inline-block;
}

.AssistantItemStyle img {
  width: 225px;
  height: 250px;
}

.AssistantItemStyle li {
  list-style-type: none;
}

/* HOME PAGE STYLES */
.clickbox {
  width: 400px;
  height: 500px;
  background-color: #90C0AF;
  float: right;
  margin-right: 30%;
  font-size: 4em;
}
.clickbox a {
  text-decoration: none;
}

/* Individual Assistant Page Styles */
#profile-photo {
  max-width: 500px;
  max-height: 500px;
}
.Assistant button {
  width: 10%;
  height: 30%;
  font-size: 2em;
  background-color: #60AA9F;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
